server:
  port: 8088

spring:
  config:
    import: optional:file:./.env[.properties]
  application:
    name: hub-product-stock-company
  profiles:
    active: dev

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: 3000ms
      ssl:
        enabled: true  # TLS 활성화

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: ${DB_POOL_SIZE:10}
      connection-timeout: ${DB_CONNECTION_TIMEOUT:3000}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    defer-datasource-initialization: true
    properties:
      jakarta.persistence.lock.timeout: ${DB_LOCK_TIME_OUT:2000}
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.orm.jdbc.bind: TRACE      # 바인딩값 로그
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.orm.jpa: DEBUG
    org.springframework.transaction: DEBUG

cache:
  config:
    hubService: ${HUB_SERVICE_CACHEABLE:true}  # true면 캐시주입, false면 원본 Service 주입

kakao:
  mobility:
    api-key: "KakaoAK your_api_key_here"

eas:
  passport:
    secretKey: ""
    expiration: 604800
    algorithm: ""
---
# test profile
spring:
  config:
    activate:
      on-profile: test

---
spring:
  config:
    activate:
      on-profile: dev

management:
  endpoints:
    web:
      exposure:
        include: "*"